html {
    font-size: 14px;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    color: white;
    font-family: Chewy, sans-serif;
    background-image: url(../background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 0;
}

div {
    margin: 50px 0;
}

img, video {
    max-width: 100%;
}

#content {
    padding: 100px 0 0 0;
    margin: 20px auto;
    width: 80%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

#nav {
    background-color: #B0FF72;
    color: white;
    font-family: Fredoka One, sans-serif;
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#nav img, #nav a{
    margin: 0 10px;
    max-height: 100%;
}

#nav h1 {
    flex-grow: 1;
    text-align: left;
}

p, h2 {
    padding: 0 20px;
}

#footer {
    background-color: #B0FF72;
    color: white;
    font-family: Fredoka One, sans-serif;
    height: 100px;
    position: relative;
    width: 100%;
    margin: 0;
}

#footer a {
    margin-top: 40px;
    margin-bottom: 40px;
    position: absolute;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #B0FF72;
}

.button {
    background-color: #FF2EF7;
    padding: 10px;
}

.inline {
    display: inline;
}