.card{
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 1em;
}

h2 {
    margin-top: 0;
}

body {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;

    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}